@inherits LayoutComponentBase
<nav class="navbar navbar-light navbar-expand-lg bg-white border-bottom shadow-sm">
    <a class="navbar-brand" href="#">
        <h5 class="font-weight-normal">
            <kbd>DominicanWho.Codes</kbd>
        </h5>
    </a>
    <button class="navbar-toggler text-dark" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <i class="fas fa-lg fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-dark font-weight-bold" href="https://github.com/AngelGarcia13/DominicanWhoCodes" target="_blank"><i class="fab fa-lg fa-github"></i> About</a>
            </li>
            <li class="nav-item">
                <a class="font-weight-bold btn btn-dark" href="#">Nominate</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h3 class="text-muted">DominicanWho.Codes</h3>
        <p class="lead text-monospace">Dominican Developers <i class="em em-flag-do"></i>  who like to code and contribute to Open Source <i class="em em-heart"></i></p>
    </div>
    @Body
</div>

<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h5 class="font-weight-normal">
                    <kbd>DominicanWho.Codes</kbd>
                </h5>
                <small class="d-block mb-3 text-muted">&copy; 2019</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
