body{
    background-color: #f5f6fa;
    color: #343a40;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border-color: transparent !important;
    background-color: transparent !important;
  }
.card {
    border-radius: .90rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, .03);
}
.card-img-top {
    border-top-left-radius: calc(.90rem - 1px);
    border-top-right-radius: calc(.90rem - 1px);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card:hover .card-img-top {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.avatar-sm {
    width: 2.4375rem;
    height: 2.4375rem;
    font-size: .75rem;
    border-radius: .2rem;
}
.avatar {
    position: relative;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 600;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: .375rem;
}
.badge-pill {
    padding: 6px;
}
.info-space {
    margin-bottom:3px; 
}
.description-space {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    scrollbar-width: thin;
}
.social-networks{
    font-size: x-large;
}

/*@juanchinovas*/

#splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

#pulse-animation {
    position: relative;
    width: 100px;
    height: 100px;
    opacity: 0;
    border: 1.5rem solid #444444;
    border-radius: 50%;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

span#app-name {
    font-size: 1.5rem;
    font-weight: bold;
}

@keyframes pulsate {
    0% {
        transform: scale(.2);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
#info-skills .info-space .badge {
    margin: 0 2px;
}
#info-skills {
    margin: .3rem 0;
    height: 35px;
    overflow: hidden;
}

#info-skills .info-space {
    display: flex;
    overflow: hidden;
    scrollbar-width: thin;
    padding: .2rem;
}

.description-space:hover,
#info-skills .info-space:hover {
    overflow: auto;
}

.description-space::-webkit-scrollbar,
#info-skills .info-space::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}
.description-space::-webkit-scrollbar-track,
#info-skills .info-space::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.description-space::-webkit-scrollbar-thumb, 
#info-skills .info-space::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.description-space p {
    margin: 0;
}