body{
    background-color: #f5f5f5;
    color: #343a40;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border-color: transparent !important;
    background-color: transparent !important;
  }
.card {
    border-radius: .90rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, .03);
}
.card-img-top {
    border-top-left-radius: calc(.90rem - 1px);
    border-top-right-radius: calc(.90rem - 1px);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card:hover .card-img-top {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.avatar-sm {
    width: 2.4375rem;
    height: 2.4375rem;
    font-size: .75rem;
    border-radius: .2rem;
}
.avatar {
    position: relative;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 600;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: .375rem;
}
.badge-pill {
    padding: 6px;
}
.info-space{
    margin-bottom:3px; 
}
.description-space{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-networks{
    font-size: x-large;
}